* { margin:0; padding:0; box-sizing:border-box; }
body { font-family:'Segoe UI',sans-serif; background:#f8f9fa; color:#610fcee5; }
header {
  position:fixed; top:0; left:0; right:0; height:90px; background:hsla(140, 87%, 49%, 0.836);
  display:flex; align-items:center; justify-content:space-between; padding:0 60px;
  box-shadow:0 5px 20px rgba(0,0,0,0.2); z-index:1000;
}
.logo { font-size:36px; font-weight:900; color:white; }
nav { position:absolute; left:50%; transform:translateX(-50%); }
nav a { color:white; text-decoration:none; margin:0 30px; font-size:18px; font-weight:500; }
nav a:hover, nav a.active { color:blue; text-decoration: none;}
.login { background:white; color:green; padding:12px 35px; border-radius:50px; text-decoration:none; font-weight:600; }

main { margin-top:90px; padding:60px 5%; max-width:1400px; margin:0 auto; text-align:center; }
h1 { font-size:56px; margin:60px 0 40px; color:hsl(140, 80%, 45%); }
h2 { font-size:42px; margin:80px 0 40px; color:blue; }
p { font-size:18px; color:#4e09ced5; line-height:1.7; }

.btn-red { padding:20px 90px; background:hsla(244, 97%, 45%, 0.788); color:white; border:none; border-radius:50px; font-size:21px; cursor:pointer; }
.btn-outline { padding:20px 100px; background:transparent; border:3px solid #0dfd99af; color:#3ce761de; border-radius:50px; font-size:21px; cursor:pointer; }

.flex { display:flex; justify-content:center; align-items:center; gap:100px; flex-wrap:wrap; margin:120px 0; }
.grid3 { display:flex; justify-content:center; gap:50px; flex-wrap:wrap; margin:120px 0; }
.grid4 { display:grid; grid-template-columns:repeat(auto-fit, minmax(250px,1fr)); gap:40px; margin:120px 0; }
.card { background:#fff; padding:30px; border-radius:18px; box-shadow:0 10px 30px #32c525e5; text-align:left; }


img { width:100%; height:100%; object-fit:cover; border-radius:18px; box-shadow:0 10px 30px #05df34; }

.filters button { margin:0 15px; padding:14px 40px; background:#fff; border:2px solid #ddd; border-radius:40px; font-size:17px; }
.filters button.active { background:green; color:white; border-color:blue; }


footer { background:hsl(233, 69%, 40%); color:#059905; text-align:center; padding:50px; font-size:15px; }